{% load staticfiles %}

<link rel="stylesheet" href="{% static 'best_path/style.css' %}" />
<html>
    <head>
        <title>
            Best option page
        </title>
    </head>
    
    <!-- basic top buttons as of right now only 1 is functioning-->
        <div class = "logout" align = "right">
            <button type= "button"> Name </button>
            <button type = "lougout">Log out </button>
        </div>


        <h1>
            Optimal Page
        </h1>


        <div class = "links" align = "center">
            <button type= "button"> Course Browser </button>
            <a href='/opath'>Optimal Path Generator </a>
            <button type = "button"> Saved Paths</button>
        </div>

        <h3>
            Saved Paths
        </h3>
        
        <div class= "bar" align="center">
            <select>
                <option value= "CSC 241">CSC 241</option>
                <option value= "CSC 394">CSC 394</option>
                <option value= "CSC 301">CSC 301</option>
            </select>
        </div>
        
        <div align="center">
                <a href= '/course_search'>Search</a>
        </div>
</html>