{% load staticfiles %}

<link rel="stylesheet" href="{% static 'opath/style.css' %}" />


<html>
    <head>
        <title>
            Best option page
        </title>
    </head>

    <!--basic html for this page. Links will be added instead of buttons as time goes on-->
    <body>
        <div class="logout" align = "right">
            <button type= "button"> Name </button>
            <button type = "lougout">Log out </button>
        </div>

        <h1>
            Optimal Path Generator
        </h1>

        <div align = "center">
            <a href='/LandingPage/courses'><button type= "button"> Course Browser </button> </a>
			<a href='/opath'><button type= "button"> Optimal Path Generator </button> </a>
			<a href='/best_path'><button type= "button"> Saved Paths </button> </a>
        </div>

        
        <!--Main content which is basic selects-->
        <h3>
            <a href= '/opath'><button type= "button"> Back To Generator </button></a>
			Optimal Path:
        </h3>
		
        <div align="center">
            <li>
				CSC 241
			</li>
			<li>
                CSC 394
			</li>
			<li>
                CSC 301
			</li>
		</div>
    </body>
</html>