{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Capstone - Final Project </title>
  </head>

<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

  <body>
    <!-- <h2> Capstone - Course Search </h2> -->

      </div>
      <!-- navbar will go here -->
      {% block navbar %}

      <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
              <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
              <li class="pure-menu-item pure-menu-selected"><a href="{% url 'LandingPage:all_students' %}" class="pure-menu-link">Student List</a></li>
              <li class="pure-menu-item pure-menu-selected"><a href="{% url 'LandingPage:all_faculty' %}" class="pure-menu-link">Faculty List </a></li>
              <li class="pure-menu-item pure-menu-selected"><a href='/opath' class="pure-menu-link"> Optimal Class Path </a></li>
              <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="{% url 'user_profile:profile' %}" id="menuLink1" class="pure-menu-link">Your Profile</a>
                  <ul class="pure-menu-children">
                      <li class="pure-menu-item">  <a href="{% url 'user_profile:edit_profile' %}" class="pure-menu-link">Edit</a></li>
                        {% if user.is_authenticated %}
                      <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">Logout</a></li> -->
                      <form class="logout-button" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"> Logout </button>
                      </form>
                        {% endif %}
                  </ul>
              </li>
          </ul>
      </div>

      <hr>
      {% endblock %}

      {% if not user.is_authenticated %}
        <h3> Welcome to Home </h3>
        <p> If you have an account, please Login </a>, otherwise <a href="{% url 'accounts:signup'%}"> Sign Up </a>. </p>
        {% block login %}
          block login
        {% endblock %}
      {% endif %}

      <!-- main content for each page will go here -->

      <br>
      <div>
      <p> block "content" begins after the line </p>
      <hr>

      {% block content %}
      {% endblock %}
      <hr>
    </div>

  </body>
</html>
