{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Capstone - Final Project </title>
  </head>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous">

  <body>
    <h2> Capstone - Course Search </h2>
      {% if user.is_authenticated %}
      <li>
        <form class="logout-button" action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit"> Logout </button>
        </form>
      </li>
      {% else %}
      <li> <a href="{% url 'accounts:login'%}"> Login </a></li>
      <li> <a href="{% url 'accounts:signup'%}"> Signup </a></li>
      {% endif %}
      <!-- navbar will go here -->
      {% block navbar %}
      {% endblock %}

      <!-- main content for each page will go here -->
      {% block content %}
      {% endblock %}

  </body>
</html>
