{% load staticfiles %}

<link rel="stylesheet" href="{% static 'opath/style.css' %}" />


<html>
    <head>
        <title>
            Best option page
        </title>
    </head>

    <!--basic html for this page. Links will be added instead of buttons as time goes on-->
    <body>
        <div class="logout" align = "right">
            <button type= "button"> Name </button>
            <button type = "lougout">Log out </button>
        </div>

        <h1>
            Optimal Path Generator
        </h1>

        <div align = "center">
            <a href='/LandingPage/courses'><button type= "button"> Course Browser </button> </a>
			<a href='/opath'><button type= "button"> Optimal Path Generator </button> </a>
        </div>

        
        <!--Main content which is basic selects-->
        <h3>
            Optimal Path Search
        </h3>
        
        <div align="center">
            <select>
                <option value= "CSC 241">CSC 241</option>
                <option value= "CSC 394">CSC 394</option>
                <option value= "CSC 301">CSC 301</option>
            
            </select>
        </div>
        <div align="center">
            <select>
                <option value= "CSC 241">CSC 241</option>
                <option value= "CSC 394">CSC 394</option>
                <option value= "CSC 301">CSC 301</option>
            </select>
        </div>
            <div align="center">
                <select>
                    <option value= "CSC 241">CSC 241</option>
                    <option value= "CSC 394">CSC 394</option>
                    <option value= "CSC 301">CSC 301</option>
                </select>     
            </div>
        <div align="center">
            <a href= '/course_search'>Search</a>
        </div>
    </body>
</html>