<html>
    <head>
        <title>
            Best option page
        </title>
    </head>
    <!--basic html for this page. Links will be added instead of buttons as time goes on-->
    <body>
        <div class="topnav" align = "right">
            <button type= "button"> Name </button>
            <button type = "lougout">Log out </button>
        </div>
        <div align = "center">
            <button type= "button"> Course Browser </button>
            <button type = "button">Optimal Path Generator </button>
            <button type = "button"> Saved Paths</button>
        </div>
        <div align='center'>
            Optimal Path Search
        </div>
        
        <div align="center">
            <select>
            <option value= "Class 1">Class 1</option>
            <option value= "Class 2">Class 2</option>
            <option value= "Class 3">Class 3</option>
            </select>
            
        </div>
        <div align="center">
                <select>
                <option value= "Class 1">Class 1</option>
                <option value= "Class 2">Class 2</option>
                <option value= "Class 3">Class 3</option>
                </select>
                
            </div>
            <div align="center">
                    <select>
                    <option value= "Class 1">Class 1</option>
                    <option value= "Class 2">Class 2</option>
                    <option value= "Class 3">Class 3</option>
                    </select>
                    
                </div>
        <div align="center">
                <button type="button">Search</button>
        </div>
    </body>
</html>