{% extends 'base_layout.html' %}

{% block content %}

        <title>
            Optimal path
        </title>

    <!--basic html for this page. Links will be added instead of buttons as time goes on-->
    <body>
        <br>
        <h1 class="font-weight-bold text-center">
            Optimal Path Generator
        </h1>

        <div align = "center">
            <a href='/'><button type= "button" class = "btn btn-primary btn-sm"> Landing Page</button> </a>
        </div>
        <br>

        <!--Main content which is basic selects-->
        <div class= "row">

            <div class = "col-sm-5 offset-sm-1 ">
                <p class= "text-justify">  This is the page to find the optimal classes based on the classes currently taken! <br><br>Select classes on the right to create the schedule. Multiple classes may be selected if neccessary<br>
                  <br>If nothing found please contract your professor for further assistance</p>
            </div>
            <div class= "col-sm-5 border border-primary rounded">
                <br>
                <h4 class = "text-center font-weight-bold"> Class Select</h4>
                <br>
                    <select class = "form-control">
                        {% for item in data %}
                                <option value= {{ item.course_number }}>{{ item.course_number }}</option>
                        {% endfor %}

                    </select>
                    <br>
                    <select class = "form-control">
                        {% for item in data %}
                                <option value= {{ item.course_number }}>{{ item.course_number }}</option>
                        {% endfor %}
                    </select>
                    <br>
                        <select class = "form-control">
                            {% for item in data %}
                                <option value= {{ item.course_number }}>{{ item.course_number }}</option>
                            {% endfor %}
                        </select>
                        <br>
                    <div align="center">

                            <a href= "#"><button type= "button" class = "btn btn-dark">Search</button></a>
                        </div>
                        <br>
            </div>

        </div>
    </body>
{% endblock %}
