{% extends 'base_layout.html' %}

{% block content %}
    <div class=" container jumbotron">
        <h4> Elective is {{ elective }} with {{ Classes }} Classes in a {{ Time }}</h4>
        <h4> Student is {{ text }}</h4>
        <hr class="my-2">
        <p> Recommendation is one of the following classes</p>
        <ul>
            <p> Spring Quarter</p>
            <li><a href="">CSC 421</a> </li>
            <li><a href="">CSC 435</a></li>
            <li><a href=""> SE 447</a></li>
            <p> Summer Quarter</p>
            <li><a href=""> SE 472</a> </li>
            <p> Fall Quarter</p>
            <li><a href="">CSC 453</a> </li>
            <li><a href="">CSC 438</a></li>
            <li><a href=""> SE 471</a></li>
            <p> Winter Quarter</p>
            <li><a href="">CSC 421</a> </li>
            <li><a href="">CSC 435</a></li>
            <li><a href=""> SE 447</a></li>
        </ul>
    <div>
{% endblock %}